/*============================================================================
	COMMON
==============================================================================*/
.site {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	@include wrapper();
}

.row {
	@include row-flex();
}

.block-title {
	font-size: 52px;
	letter-spacing: 0.02em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
