/*============================================================================
	#Diary Overview
==============================================================================*/
.page-header {

	height: 640px;
	overflow: hidden;
	position: relative;

	&__container {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
	}

	&__content {
		position: relative;
		z-index: 1;
	}

	&__image-conteiner {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__deco-container {
		position: absolute;
		bottom: 0%;
	}
}

.deco-head {
	color: black;
	margin-bottom: 150px;

	&__header {
		position: relative;
		margin-bottom: 25px;
		z-index: 1;
	}

	&__title {
		color: inherit;
		font-size: 100px;
		line-height: 1;
		letter-spacing: 0.012em;
		text-transform: uppercase;
	}

	&__subtitle {
		font-family: $fontHeadings;
		font-weight: $bold;
		font-size: 42px;
		line-height: 1.2;
		letter-spacing: 0.018em;
		// text-transform: uppercase;
	}

	&__text-content {
		max-width: 580px;
		font-size: 18px;
		line-height: 24px;

		p {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}

	&__button {
		margin-top: 30px;
		position: relative;
		z-index: 1;
		display: inline-block;
		padding: 10px 32px;
		font-size: 24px;
		font-family: $fontHeadings;
		font-weight: $bold;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.012em;
		text-shadow: white 1px 1px 0, white -1px -1px 0, 
                 	 white -1px 1px 0,white 1px -1px 0;

		.layer-bg {
			position: absolute;
			z-index: -1;
			top: -35px;
			left: -10px;
			width: 245px;
			height: 106px;
			fill: #bce4e5;
			transform: scale(-1,1) rotate(-11deg);
		}

		&:active,
		&:visited {
			color: $colorDark;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__deco {
		
		img {
			max-width: inherit;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-60px,-10px);
			z-index: -1;
		}
	}

	
}

.vendors-list {
	display: flex;
	align-items: center;
	background: url('../images/dairy-page-main-bg.jpg') no-repeat;
	background-position: top center;
	
	padding: 90px 0 140px;

	&__pagination {
		display: flex;
		justify-content: center;
		padding: 25px 0 25px;
	}
}