/*============================================================================
	#Front Page
==============================================================================*/
.hero {

	height: 940px;
	overflow: hidden;
	position: relative;

	&__container {
		height: 100%;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}

	&__content {
		position: relative;
		z-index: 1;
	}

	&__image-conteiner {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__deco-container {
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translateX(-50%);
		width: 1920px;
	}
}

.hero-content {
	margin-top: 100px;
	color: white;

	&__header {
		position: relative;
		margin-bottom: 25px;
		z-index: 1;
	}

	&__title {
		color: inherit;
		font-size: 100px;
		line-height: 1;
		letter-spacing: 0.012em;
	}

	&__subtitle {
		font-family: $fontHeadings;
		font-weight: $bold;
		font-size: 42px;
		line-height: 1.2;
		letter-spacing: 0.018em;
	}

	&__text-content {
		max-width: 580px;
		font-size: 18px;
		line-height: 24px;

		p {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}

	&__button {
		margin-top: 30px;
		position: relative;
		z-index: 1;
		display: inline-block;
		padding: 10px 32px;
		font-size: 24px;
		font-family: $fontHeadings;
		font-weight: $bold;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.012em;
		color: $colorDark;
		text-shadow: white 1px 1px 0, white -1px -1px 0, 
                 	 white -1px 1px 0,white 1px -1px 0;

		.layer-bg {
			position: absolute;
			z-index: -1;
			top: -35px;
			left: -10px;
			width: 245px;
			height: 106px;
			fill: #bce4e5;
			transform: scale(-1,1) rotate(-11deg);
		}

		&:active,
		&:visited {
			color: $colorDark;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__header-deco {
		
		img {
			max-width: inherit;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-60px,-10px);
			z-index: -1;
		}
	}

	
}

.vendors-front {
	padding-bottom: 210px;
	background: url('../images/front-page-main-bg.jpg') repeat;
	background-position: bottom -20px center;

	&__grid {
		margin-bottom: 75px;
	}

	&__button-container {
		display: flex;
		justify-content: center;
	}

	&__readmore {
		margin: 0 auto;
	}

	@media (max-width: 768px){
		&._home {
			.vendors-grid__item:first-child {
				width: calc(100% - 30px);
				height: auto;
			}
		} 
	}
}

.vendors-grid {
	--margin: 15px;
	--containerWidth: 1430px;
	--columns: 4;

	@include _1490 {
		--containerWidth: 1180px;
	}

	@include _1240 {
		--containerWidth: 940px;
		--columns: 3;
	}

	@include _1000 {
		--containerWidth: 740px;
		--columns: 2;
	}

	@include _768 {
		--containerWidth: 550px;
	}

	margin-left: -15px;
	margin-right: -15px;


	&__item {
		width: calc(100vw - 20px);
		height: calc(100vw - 20px);
		margin: 7.5px 15px;
		float: left;

		@media (min-width: 580px) {
			width: calc((var(--containerWidth) - (var(--margin) * (var(--columns) - 1 ) * 2 )) / var(--columns));
			height: calc((var(--containerWidth) - (var(--margin) * (var(--columns) - 1 ) * 2 )) / var(--columns));
			margin: 15px;
		}

		@media (min-width: 1000px) and (max-width: 1240px){
			&:nth-child(10),
			&:nth-child(17),
			&:nth-child(22) {
				width: calc((var(--containerWidth) - var(--margin)) / 1.5 );
				height: calc((var(--containerWidth) - var(--margin)) / 1.5 );
			}

			&:nth-child(17) {
				float: right;
			}

		}

		@media (min-width: 1240px){
			&:nth-child(9),
			&:nth-child(16),
			&:nth-child(23) {
				width: calc((var(--containerWidth) - (var(--margin) * 2 )) / 2 );
				height: calc((var(--containerWidth) - (var(--margin) * 2 )) / 2 );
			}

			&:nth-child(16) {
				float: right;
			}
			
		}
	}

	

	&__item-inner {
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.vendor-card-text {

	&__title {
		font-size: 52px;
		line-height: 1;
		margin-bottom: 20px;

		@include _1490 {
			font-size: 42px;
			margin: 0 0 15px 0;
		}

		@include _1000 {
			margin: 0 0 25px 0;
		}
		
	}

	&__content {
		> *:last-child{
			margin-bottom: 0;
		}

		p {
			margin: 0 0 35px 0;
			font-size: 15px;

			@include _1490 {
				font-size: 12px;
				line-height: 1.7;
				margin: 0 0 25px 0;
			}

			@include _1000 {
				font-size: 15px;
				line-height: 1.7;
				margin: 0 0 35px 0;
			}
		}
	}
}

.vendor-card {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	
	&__avatar {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #323232;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&__name {
		position: absolute;
		font-family: $fontHeadings;
		font-weight: $bold;
		font-size: 24px;
		line-height: 1.4;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		z-index: 1;
		top: 50%;
		left: 50%;
		color: white;
		transform: translate3d(-50%, 50%, 0);
		opacity: 0;
		transition: opacity 0.3s, transform 0.3s;
		text-align: center;

		&::before {
			position: absolute;
			content: url('../images/vendor-name-hover-deco.svg');
			bottom: -24px;
			text-align: center;
			display: flex;
			justify-content: center;
			width: 100%;
			opacity: 1;
			transition: opacity 0.2s;
		}

		// &:hover {
		// 	&::before {
		// 		opacity: 1;
		// 	}
		// }
	}

	&:hover {

		&::before {
			opacity: 0.5;
		}

		.vendor-card__name {
			transform: translate3d(-50%, -50%, 0);
			opacity: 1; 
		}
	}
	
}

.advantages {
	padding-bottom: 90px;
	
	&__block-title {
		margin-bottom: 75px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		justify-content: center;
		flex: 0 0 25%;
		flex-direction: column;
		align-items: center;
	}

	&__item-icon {
		margin-bottom: 20px;
		min-height: 150px;
	}

	&__item-title {
		text-align: center;
		font-family: $fontHeadings;
		font-weight: $bold;
		font-size: 24px;
		letter-spacing: 0.02em;
	}
}

.cta-section {

	&._front-page {
		padding: 200px 0 300px;
		background: url('../images/cta-front-bg.png') repeat;
	}

}

.cta {
	max-width: 1220px;
	margin: 0 auto;
	// background: #ccc;
	position: relative;

	&__body {
		padding: 20px;
		position: relative;
		z-index: 1;
		display: flex;
		align-items: flex-end;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 45px 25px 45px;
		position: relative;
		margin-right: 25px;
		
	}

	&__title {
		font-size: 72px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__message {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 50px;
	}

	&__button {
		text-decoration: none;
		font-size: 32px;
		line-height: 1.2;
		font-weight: $bold;
		font-family: $fontHeadings;
		color: $colorDark;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		padding: 11px 35px;
		// background: red;
		position: relative;
		display: flex;
		align-items: center;
		z-index: 1;
		margin-left: -45px;

		&:active,
		&:visited {
			color: $colorDark;
		}

		&:hover {
			text-decoration: underline;
		}

		.icon {
			margin-right: 14px;
		} 

		.layer-bg {
			position: absolute;
			// display: none;
			z-index: -1;
			top: calc(50% - 12px);
			left: calc(50% + 26px);;
			width: 270px;
			height: 120px;
			fill: $colorArctic;
			transform: translate(-50%,-50%) rotate(-19deg);
		}
	}

	&__media {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.cta-front-deco-image {
		position: absolute;
		pointer-events: none;
		bottom: 0;
		z-index: 2;
	}

	.cta-bg {
		width: 1220px;
		height: 310px;
		position: absolute;
		bottom: 0;
		left: 0;
		fill: $colorPink;
	}
}

.cta._inner {

	.cta__body {
		align-items: inherit;
		justify-content: space-between;
		padding-bottom: 30px;
	}

	.cta__media {
		img {
			width: 570px;
		}
	}
	
	.cta__content {
		padding-top: 60px;
		padding-bottom: 15px;
		justify-content: space-between;
		margin-right: 40px;
		
	}

	.cta__button {
		.layer-bg {

			top: calc(50% + 8px);
			left: calc(50% - 0px);;
			width: 300px;
			height: 130px;
			fill: #fd7c97;
			transform: translate(-50%,-50%) rotate(-11deg);
		}
	}

	.cta-bg {
		fill: $colorArctic;
	}
}

@include _1240 {

	.hero {
		height: 840px;
	}
	
	.hero-content {

		&__header {

			img {
				width: 520px;
			}
		}

		&__title {

			font-size: 80px;
		}

		&__subtitle {

			font-size: 36px;
		}
		
	}

	.advantages {

		&__item-icon {
			min-height: 130px;
			text-align: center;

			img {
				max-width: 80%;
			}
		}
	}

	.cta-section._front-page {
		padding: 200px 0;
	}

	.cta {
		position: relative;

		&__media {
			display: none;
		}

		&__content {
			margin-right: 0;
		}

		.cta-bg {
			width: 100%;
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 82%;
			bottom: 0;
			background: $colorPink;
			clip-path: polygon(0 0, 100% 6%, 98% 100%, 2% 100%);
		}
	}
}

@include _1000 {
	.hero {
		&__deco-container {
			width: 1500px;
		}
	}

	.advantages {
	
		&__item {

			justify-content: flex-start;
		}
	}
}

@include _768 {

	.advantages {
		padding-bottom: 30px;
	
		&__item {
			margin-bottom: 60px;

			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

@include _580 {
	
	.hero {
		height: 840px;
	}
	
	.hero-content {

		&__header {

			img {
				width: 460px;
			}
		}

		&__title {

			font-size: 70px;
		}

		&__subtitle {

			font-size: 32px;
		}
		
	}

	.cta {

		&__title {
			font-size: 62px;
		}
	
		&__content {

			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

@include _480 {
	.hero-content {

		&__title {

			font-size: 65px;
		}
		
	}

	.advantages {
	
		&__item {

			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	.cta {

		&__title {
			font-size: 52px;
		}
	
		&__content {

			padding-left: 0px;
			padding-right: 0px;
		}
	}
}