/*============================================================================
	#Front Page
==============================================================================*/
.hero {

	height: 940px;
	overflow: hidden;
	position: relative;

	&__container {
		height: 100%;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}

	&__content {
		position: relative;
		z-index: 1;
	}

	&__image-conteiner {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__deco-container {
		position: absolute;
		bottom: 0%;
	}
}

.hero-content {
	margin-top: 100px;
	color: white;

	&__header {
		position: relative;
		margin-bottom: 25px;
		z-index: 1;
	}

	&__title {
		color: inherit;
		font-size: 100px;
		line-height: 1;
		letter-spacing: 0.012em;
	}

	&__subtitle {
		font-family: $fontHeadings;
		font-weight: $bold;
		font-size: 42px;
		line-height: 1.2;
		letter-spacing: 0.018em;
	}

	&__text-content {
		max-width: 580px;
		font-size: 18px;
		line-height: 24px;

		p {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}

	&__button {
		margin-top: 30px;
		position: relative;
		z-index: 1;
		display: inline-block;
		padding: 10px 32px;
		font-size: 24px;
		font-family: $fontHeadings;
		font-weight: $bold;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.012em;
		color: $colorDark;
		text-shadow: white 1px 1px 0, white -1px -1px 0, 
                 	 white -1px 1px 0,white 1px -1px 0;

		.layer-bg {
			position: absolute;
			z-index: -1;
			top: -35px;
			left: -10px;
			width: 245px;
			height: 106px;
			fill: #bce4e5;
			transform: scale(-1,1) rotate(-11deg);
		}

		&:active,
		&:visited {
			color: $colorDark;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__header-deco {
		
		img {
			max-width: inherit;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-60px,-10px);
			z-index: -1;
		}
	}

	
}

.vendors-front {
	padding-bottom: 210px;
	background: url('../images/front-page-main-bg.jpg') repeat;
	background-position-y: -220px;

	&__grid {
		margin-bottom: 75px;
	}

	&__button-container {
		display: flex;
		justify-content: center;
	}

	&__readmore {
		margin: 0 auto;
	}
}

.vendors-grid {
	margin-left: -15px;
	margin-right: -15px;
	// background: #ccc;

	&__item {
		// background: #e6e6e6;
		width: 335px;
		height: 335px;
		margin: 15px;
		float: left;
	}

	&__item:nth-child(9) {
		width: 700px;
		height: 700px;
	}

	&__item:nth-child(16) {
		width: 700px;
		height: 700px;
		float: right;
	}

	&__item:nth-child(23) {
		width: 700px;
		height: 700px;
	}

	&__item-inner {
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.vendor-card-text {

	&__title {
		font-size: 52px;
		line-height: 1;
		margin-bottom: 20px;
	}

	&__content {
		> *:last-child{
			margin-bottom: 0;
		}

		p {
			margin: 0 0 35px 0;
			font-size: 15px;
		}
	}
}

.vendor-card {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	
	&__avatar {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #323232;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&__name {
		position: absolute;
		font-family: $fontHeadings;
		font-weight: $bold;
		font-size: 24px;
		line-height: 1.4;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		z-index: 1;
		top: 50%;
		left: 50%;
		color: white;
		transform: translate3d(-50%, 50%, 0);
		opacity: 0;
		transition: opacity 0.3s, transform 0.3s;
		text-align: center;

		&::before {
			position: absolute;
			content: url('../images/vendor-name-hover-deco.svg');
			bottom: -24px;
			text-align: center;
			display: flex;
			justify-content: center;
			width: 100%;
			opacity: 1;
			transition: opacity 0.2s;
		}

		// &:hover {
		// 	&::before {
		// 		opacity: 1;
		// 	}
		// }
	}

	&:hover {

		&::before {
			opacity: 0.5;
		}

		.vendor-card__name {
			transform: translate3d(-50%, -50%, 0);
			opacity: 1; 
		}
	}
	
}

.advantages {
	padding-bottom: 90px;
	
	&__block-title {
		margin-bottom: 75px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		justify-content: center;
		flex: 0 0 25%;
		flex-direction: column;
		align-items: center;
	}

	&__item-icon {
		margin-bottom: 20px;
		min-height: 150px;
	}

	&__item-title {
		text-align: center;
		font-family: $fontHeadings;
		font-weight: $bold;
		font-size: 24px;
		letter-spacing: 0.02em;
	}
}

.cta-section {

	&._front-page {
		padding: 200px 0 300px;
		background: url('../images/cta-front-bg.png') repeat;
	}

}

.cta {
	max-width: 1220px;
	margin: 0 auto;
	// background: #ccc;
	position: relative;

	&__body {
		padding: 20px;
		position: relative;
		z-index: 1;
		display: flex;
		align-items: flex-end;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 45px 25px 45px;
		position: relative;
		margin-right: 25px;
		
	}

	&__title {
		font-size: 72px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__message {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 50px;
	}

	&__button {
		text-decoration: none;
		font-size: 32px;
		line-height: 1.2;
		font-weight: $bold;
		font-family: $fontHeadings;
		color: $colorDark;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		padding: 11px 35px;
		// background: red;
		position: relative;
		display: flex;
		align-items: center;
		z-index: 1;
		margin-left: -45px;

		&:active,
		&:visited {
			color: $colorDark;
		}

		&:hover {
			text-decoration: underline;
		}

		.icon {
			margin-right: 14px;
		} 

		.layer-bg {
			position: absolute;
			// display: none;
			z-index: -1;
			top: calc(50% - 12px);
			left: calc(50% + 26px);;
			width: 270px;
			height: 120px;
			fill: $colorArctic;
			transform: translate(-50%,-50%) rotate(-19deg);
		}
	}

	&__media {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.cta-front-deco-image {
		position: absolute;
		pointer-events: none;
		bottom: 0;
		z-index: 2;
	}

	.cta-bg {
		width: 1220px;
		height: 310px;
		position: absolute;
		bottom: 0;
		left: 0;
		fill: $colorPink;
	}
}

.cta._inner {

	.cta__body {
		align-items: inherit;
		justify-content: space-between;
		padding-bottom: 30px;
	}

	.cta__media {
		img {
			width: 570px;
		}
	}
	
	.cta__content {
		padding-top: 60px;
		padding-bottom: 15px;
		justify-content: space-between;
		margin-right: 40px;
		
	}

	.cta__button {
		.layer-bg {

			top: calc(50% + 8px);
			left: calc(50% - 0px);;
			width: 300px;
			height: 130px;
			fill: #fd7c97;
			transform: translate(-50%,-50%) rotate(-11deg);
		}
	}

	.cta-bg {
		fill: $colorArctic;
	}
}