/*============================================================================
	#Neu Hier Page
==============================================================================*/
.new-user-guid-page {
	overflow: hidden;

	&__content {
		padding-top: 180px;
		padding-bottom: 150px;
		background: url('../images/nue-hier-page-main-bg.jpg') no-repeat;
		background-position: top center;

		@include _1240 {
			
			padding-top: 90px;
			padding-bottom: 110px;
		}
	}

	.cta-section {
		margin-bottom: 140px;
	}
}

.new-user-guide {
	
	padding-bottom: 190px;

	&__header {
		margin-bottom: 80px;
	}

	&__block-title {
		text-align: left;
	}

	&__steps-block {
		

		.text-card {

			@include col();
			@include size(6);
			@include size-md(12);
			
		}
	}

	&__block-image {

		@include col();
		@include size(6);
		@include size-md(12);
		position: relative;

		img {
			position: absolute;
		}
	}

	&__block-num {
		position: absolute;
	}

	&__block-num {
		font-size: 120px;
		line-height: 1;
		color: white;
		font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	}
}

.new-user-guide__steps-block._step-one {
	margin-bottom: 390px;

	.new-user-guide__block-image img {
		bottom: -20px;
		left: 120px;
	}

	.new-user-guide__block-num {
		bottom: -30px;
		left: 220px;
	}
}

.new-user-guide__steps-block._step-two {
	margin-bottom: 260px;

	.row {
		flex-direction: row-reverse;
	}

	.new-user-guide__block-image img {
		bottom: 160px;
		left: 50px;
	}

	.new-user-guide__block-num {
		bottom: 150px;
		left: 240px;
	}
}

.new-user-guide__steps-block._step-three {
	.new-user-guide__block-image img {
		bottom: -130px;
		left: 80px;
		max-width: inherit;
	}

	.new-user-guide__block-num {
		bottom: 95px;
		left: 385px;
	}
}

.text-card {
	
	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&__title {
		padding-left: 40px;
		font-size: 32px;
		text-transform: uppercase;
		letter-spacing: 0.02em;
	}

	&__body {
		border: 1px solid #fb6a88;
		letter-spacing: 0.02em;
		padding: 25px 35px;
	}
}

.tips-tricks {

	&__header {
		margin-bottom: 50px;
	}

	&__block-title {
		text-align: left;
	}

	&__body {
		display: flex;
	}

	&__item {
		max-width: 334px;
		flex: 0 0 334px;

		&:not(:last-child){
			margin-right: 150px;

			@include _1490 {
				margin-right: 90px;
			}
		}
	}

	&__item-title {
		font-size: 32px;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		margin-bottom: 20px;
	}

	&__item-text {
		margin: 0;
	}
}

@include _1240 {
	
	.new-user-guide__steps-block._step-one {

		margin-bottom: 220px;
		.new-user-guide__block-image img {
    		left: 30px;
		}

		.new-user-guide__block-num {
			bottom: -35px;
    		left: 160px;
		}
	}

	.new-user-guide__steps-block._step-two {

		margin-bottom: 220px;
		.new-user-guide__block-image img {
			bottom: 70px;
    		left: -20px;
		}

		.new-user-guide__block-num {
			bottom: 50px;
    		left: 200px;
		}
	}

	.new-user-guide__steps-block._step-three {

		.new-user-guide__block-image img {
			left: 30px;
		}
	}

	.cta._inner .cta__content {
		margin-right: 0;
	}
	
	.page .cta {
		max-width: 620px;
	}
}

@include _1240 {

	.tips-tricks__body {
		flex-wrap: wrap;
	}

	.tips-tricks__item {
		max-width: 100%;
		flex: 0 0 100%;
		
	}
	
	.tips-tricks__item:not(:last-child) {

		margin-right: 0;
		margin-bottom: 60px;
	}

	.cta._inner .cta__content {
		padding-top: 10px;
		flex: 1;
	}
}

@include _1000 {
	
	.new-user-guide__steps-block {
	
		.text-card {
			order: 2;
		}
	}

	.new-user-guide__block-image {
		order: 1;
		margin-bottom: 60px;

		img {

			position: static;
		}
	}

	.new-user-guide__steps-block._step-one,
	.new-user-guide__steps-block._step-two {
		margin-bottom: 160px;
	}

	.new-user-guide__steps-block._step-one .new-user-guide__block-image {
		position: relative;
		text-align: right;

		.new-user-guide__block-num {

			left: auto;
			right: 200px;
			bottom: -15px;
		}
		
	}

	.new-user-guide__steps-block._step-two .new-user-guide__block-num {
		bottom: -20px;
    	left: 290px;
	}

	.new-user-guide__steps-block._step-three .new-user-guide__block-num {
		bottom: 239px;
		left: 295px;
	}
    
}

@include _768 {

	.new-user-guide__steps-block._step-one, .new-user-guide__steps-block._step-two {
		margin-bottom: 80px;
	}
	
	.new-user-guide__steps-block._step-three .new-user-guide__block-image {

		img {
			max-width: 100%;
			transform: translateX(120px);
		}
	}

	.new-user-guide__steps-block._step-three .new-user-guide__block-num {
		bottom: 135px;
		left: 295px;
	}

	.new-user-guide, {
		padding-bottom: 120px;
	}

	.new-user-guid-page .cta-section {
		margin-bottom: 120px;
	}
}

@include _580 {

	.new-user-guide__steps-block._step-three .new-user-guide__block-image {

		img {
			max-width: 100%;
			transform: translateX(50px);
		}
	}
}

@include _480 {
	
	.new-user-guide {

		&__block-num {
			font-size: 100px;
		}
	}

	.text-card {
		
		&__body {
			padding: 25px 25px;
		}
	}

	.new-user-guide__steps-block._step-two .new-user-guide__block-num {
		bottom: -20px;
    	left: 50%;
	}

	.new-user-guide__steps-block._step-three .new-user-guide__block-num {
		bottom: 80px;
		left: auto;
		right: 60px;
	}
}