/*============================================================================
	#Uber Das Portal Page
==============================================================================*/
.portal-page {

	&__content {
		padding-top: 185px;
		padding-bottom: 150px;
		background: url('../images/uder-das-portal-page-main-bg.jpg') repeat;
		background-position: top center;
	}
}

.post-list {

	&__header {
		margin-bottom: -60px;
	}

	&__block-title {
		text-align: left;
	}
}

.post-item {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 140px;
	
	&._full {
		@include col();
		@include size(12);
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		align-items: flex-end;
		flex-wrap: wrap;

		.post-item__text-card {
			@include col();
			@include size(6);
			@include size-md(12);
		}

		.post-item__media {
			@include col();
			@include size(6);
			@include size-md(12);
			display: flex;
			justify-content: center;
		}
	}

	&._half {
		@include col();
		@include size(6);
		@include size-md(12);
	}

	&._reversed {
		flex-direction: row-reverse;
	}

}

.post-item:first-child {
	margin-bottom: 260px;
}

.text-card {

	&__date {
		font-family: $fontHeadings;
		font-size: 32px;
		font-weight: $bold;
		margin-left: 30px;
		letter-spacing: .02em;
		line-height: 1.185;
	}
}

@include _1490 {
	
	.portal-page {

		&__content {
			padding-top: 110px;
    		padding-bottom: 80px;
		}
	}

	.post-list {
		margin-bottom: 40px;

		&__header {

			margin-bottom: 60px;
		}
	}
	
	.post-item,
	.post-item:first-child {
		margin-bottom: 100px;
	}
}

@include _1000 {
	
	.post-item._full {

		.post-item__media {
			margin-bottom: 30px;
			order: -1;
		}
	}
}

@include _768 {
	
	.text-card {
	
		&__header {

			flex-direction: column;
		}

		&__date {

			margin-top: 5px;
			font-size: 24px;
			margin-left: 0;
			padding-left: 40px;
		}
	}
}

@include _480 {

	.post-item, .post-item:first-child {

		margin-bottom: 60px;
	}
	
	.text-card {
	
		&__date,
		&__title {
			padding-left: 0;
		}
	}
}