// Fonts 
/////////////////////////////////////////

// font-family
$fontPrimary	: Arial, Helvetica, sans-serif;
$fontSecondary  : 'Montserrat', sans-serif;
$fontHeadings   : 'Amatic SC', cursive;

// fotn-weight
$light	   : 300;
$regular   : 400; // normal
$semiBold  : 600;
$bold      : 700;
$extraBold : 800;

// Colors
/////////////////////////////////////////


$colorDark			: #231f20;
$colorPink			: #f2d2d5;
$colorArctic		: #bce4e5;
$colorRose			: #f66785;

// NoNU
$colorDarkGray 		: #3C3C3C;
$colorDarkGrayHover : #2A2A2A;
$colorGray 			: #D7D7D7;
$colorDscr 			: #999999;
$colorMain			: #00ADEF;
$colorMainHover 	: #007BAA;
