@@include('layouts/header.html')

		<main class="site__page page">
			<header class="page__header page-header">
				<div class="page-header__container container">
					<div class="page-header__content deco-head">
						<h1 class="deco-head__title">ALLE DIARies</h1>
						<div class="deco-head__subtitle">Intime Einblicke in private Tagebücher</div>

						<div class="deco-head__deco">
							<img src="images/page-header-deco.svg" alt="" width="615">
						</div>
					</div>
				</div>
				<div class="page-header__image-conteiner">
					<img src="images/demo/diary-overview-header-image.jpg" alt="" class="page-header__image">
				</div>

				<div class="page-header__deco-container">
					<img src="images/layer-clouds-secondary.png" alt="" class="page-header__deco-image">
				</div>
			</header>

			<div class="vendors-list">
				<div class="vendors-list_container container">
					<div class="vendors-list__grid vendors-grid">
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Sofie Steinfield</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Sofie Steinfield</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-1.jpg" alt="">
									<div class="vendor-card__name">Vendor Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-2.jpg" alt="">
									<div class="vendor-card__name">Vendor Big Name</div>
								</a>
							</div>
						</div>
						<div class="vendors-grid__item">
							<div class="vendors-grid__item-inner">
								<a href="#" class="vendor-card">
									<img class="vendor-card__avatar" src="images/demo/vendor-image-3.jpg" alt="">
									<div class="vendor-card__name">Vendor Very Very Big Name</div>
								</a>
							</div>
						</div>
					</div>

					<div class="vendors-list__pagination">
						<nav class="pagination">
							<div class="pagination__list">
								<a href="#" class="pagination__button _prev">
									<svg class="icon _arrow-prev-pag">
										<use xlink:href="symbol/sprite.svg#arrow-prev-pag"></use>
									</svg>
								</a>
								<a href="#" class="pagination__button _current">1</a>
								<a href="#" class="pagination__button">2</a>
								<a href="#" class="pagination__button">3</a>
								<a href="#" class="pagination__button">4</a>
								<a href="#" class="pagination__button">5</a>
								<a href="#" class="pagination__button">6</a>
								<a href="#" class="pagination__button _next">
									<svg class="icon _arrow-next-pag">
										<use xlink:href="symbol/sprite.svg#arrow-next-pag"></use>
									</svg>
								</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</main>

@@include('layouts/footer.html')

