@@include('layouts/header.html')

		<div class="site__page page faq-page">
			<header class="page__header page-header">
				<div class="page-header__container container">
					<div class="page-header__content deco-head">
						<h1 class="deco-head__title">FAQ</h1>
						<div class="deco-head__subtitle">Häufig gestellte Fragen</div>

						<div class="deco-head__deco">
							<img src="images/page-header-deco.svg" alt="" width="615">
						</div>
					</div>
				</div>
				<div class="page-header__image-conteiner">
					<img src="images/demo/uber-das-portal-header-image.jpg" alt="" class="page-header__image">
				</div>

				<div class="page-header__deco-container">
					<img src="images/layer-clouds-secondary.png" alt="" class="page-header__deco-image">
				</div>
			</header>

			<main class="faq-page__main main">

				<div class="main__container container">
					<div class="main__row row">
						<div class="main__content">
							<div class="faq__accordion accordion">
								<div class="accordion__item-list">
									<div class="accordion__item accordion-item">
										<header class="accordion-item__header">
											<h3 class="accordion-item__title">Hier könnte eine frage stehen...</h3>
											<button class="accordion-item__button"></button>
										</header>
										<div class="accordion-item__body">
											<div class="accordion-item__text-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
											</div>
											<a href="#" class="accordion-item__link">
												Optionaler Link
												<svg class="layer-bg">
													<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
												</svg>
											</a>
										</div>
									</div>
									<div class="accordion__item accordion-item">
										<header class="accordion-item__header">
											<h3 class="accordion-item__title">Hier könnte eine frage stehen...</h3>
											<button class="accordion-item__button"></button>
										</header>
										<div class="accordion-item__body">
											<div class="accordion-item__text-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
											</div>
											<a href="#" class="accordion-item__link">
												Optionaler Link
												<svg class="layer-bg">
													<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
												</svg>
											</a>
										</div>
									</div>
									<div class="accordion__item accordion-item">
										<header class="accordion-item__header">
											<h3 class="accordion-item__title">Hier könnte eine frage stehen...</h3>
											<button class="accordion-item__button"></button>
										</header>
										<div class="accordion-item__body">
											<div class="accordion-item__text-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
											</div>
											<a href="#" class="accordion-item__link">
												Optionaler Link
												<svg class="layer-bg">
													<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
												</svg>
											</a>
										</div>
									</div>
									<div class="accordion__item accordion-item">
										<header class="accordion-item__header">
											<h3 class="accordion-item__title">Hier könnte eine frage stehen...</h3>
											<button class="accordion-item__button"></button>
										</header>
										<div class="accordion-item__body">
											<div class="accordion-item__text-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
											</div>
											<a href="#" class="accordion-item__link">
												Optionaler Link
												<svg class="layer-bg">
													<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
												</svg>
											</a>
										</div>
									</div>
									<div class="accordion__item accordion-item">
										<header class="accordion-item__header">
											<h3 class="accordion-item__title">Hier könnte eine frage stehen...</h3>
											<button class="accordion-item__button"></button>
										</header>
										<div class="accordion-item__body">
											<div class="accordion-item__text-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
											</div>
											<a href="#" class="accordion-item__link">
												Optionaler Link
												<svg class="layer-bg">
													<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
												</svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<aside class="main__aside">
							<div class="widgets-list">

								<div class="widget search">
									<h3 class="widget__title">Suche</h3>
									<div class="widget__body">
										<form class="search__form" autocomplete="off">
											<input class="search__input" type="text" name="search" id="search" placeholder="suchen">
											<button class="search__submit">
												<svg class="icon _search">
													<use xlink:href="symbol/sprite.svg#search"></use>
												</svg>
											</button>
										</form>
									</div>
								</div>

								<div class="widget widget-category">
									<h3 class="widget__title">Kategorie</h3>
									<div class="widget__body">
										<ul class="widget-category__list list">
											<li class="widget-category__item">
												<a href="#" class="widget-category__link">Beiträge</a>
											</li>
											<li class="widget-category__item">
												<a href="#" class="widget-category__link">Fotos</a>
											</li>
											<li class="widget-category__item">
												<a href="#" class="widget-category__link">Videos</a>
											</li>
											<li class="widget-category__item">
												<a href="#" class="widget-category__link">Produkte</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</aside>
					</div>
				</div>

				<div class="cta-section">
					<div class="cta-section__container container">
						<div class="cta _inner">
							<div class="cta__body">
								<div class="cta__content">
									<h2 class="cta__title block-title">WERDE DAS nächste Alienmädchen</h2>
									<div class="cta__message"></div>

									<a href="#" class="cta__button">
										<svg class="icon _arrow-right">
											<use xlink:href="symbol/sprite.svg#arrow-right"></use>
										</svg>

										jetzt resgistrieen

										<svg class="layer-bg">
											<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
										</svg>
										
									</a>
	
								</div>

								<div class="cta__media">
									<img src="images/demo/cta-image-1.jpg" alt="">
								</div>
							</div>

							<svg class="cta-bg">
								<use xlink:href="symbol/sprite.svg#cta-bg"></use>
							</svg>
						</div>
					</div>
				</div>

			</main>
		</div>

@@include('layouts/footer.html')