@@include('layouts/header.html')

		<main class="site__page page new-user-guid-page">
			<header class="page__header page-header">
				<div class="page-header__container container">
					<div class="page-header__content deco-head">
						<h1 class="deco-head__title">NEu Hier?</h1>
						<div class="deco-head__subtitle">Erfahre mehr über Alienmaedchen.</div>

						<div class="deco-head__deco">
							<img src="images/page-header-deco.svg" alt="" width="615">
						</div>
					</div>
				</div>
				<div class="page-header__image-conteiner">
					<img src="images/demo/nue-hier-header-image.jpg" alt="" class="page-header__image">
				</div>

				<div class="page-header__deco-container">
					<img src="images/layer-clouds-secondary.png" alt="" class="page-header__deco-image">
				</div>
			</header>

			<div class="new-user-guid-page__content">
				<div class="new-user-guide">
					<div class="new-user-guide__container container">
						<header class="new-user-guide__header">
							<h2 class="new-user-guide__block-title block-title">Was ist nach der Registrierung zu tun?</h2>
						</header>
						<div class="new-user-guide__steps-block _step-one">
							<div class="row">
								<div class="text-card">
									<header class="text-card__header">
										<h3 class="text-card__title">SChritt 1</h3>
									</header>
									<div class="text-card__body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
									</div>
								</div>
								<div class="new-user-guide__block-image">
									<img src="images/demo/new-user-guide-image-1.png" alt="">
									<span class="new-user-guide__block-num">1</span>
								</div>
							</div>
						</div>
						<div class="new-user-guide__steps-block _step-two">
							<div class="row">
								<div class="text-card">
									<header class="text-card__header">
										<h3 class="text-card__title">SChritt 2</h3>
									</header>
									<div class="text-card__body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
									</div>
								</div>
								<div class="new-user-guide__block-image">
									<img src="images/demo/new-user-guide-image-2.png" alt="">
									<span class="new-user-guide__block-num">2</span>
								</div>
							</div>	
						</div>
						<div class="new-user-guide__steps-block _step-three">
							<div class="row">
								<div class="text-card">
									<header class="text-card__header">
										<h3 class="text-card__title">SChritt 3</h3>
									</header>
									<div class="text-card__body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
									</div>
								</div>
								<div class="new-user-guide__block-image">
									<img src="images/demo/new-user-guide-image-3.png" alt="">
									<span class="new-user-guide__block-num">3</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cta-section">
					<div class="cta-section__container container">
						<div class="cta _inner">
							<div class="cta__body">
								<div class="cta__content">
									<h2 class="cta__title block-title">WERDE DAS nächste Alienmädchen</h2>
									<div class="cta__message"></div>

									<a href="#" class="cta__button">
										<svg class="icon _arrow-right">
											<use xlink:href="symbol/sprite.svg#arrow-right"></use>
										</svg>

										jetzt resgistrieen

										<svg class="layer-bg">
											<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
										</svg>
										
									</a>
	
								</div>

								<div class="cta__media">
									<img src="images/demo/cta-image-1.jpg" alt="">
								</div>
							</div>

							<svg class="cta-bg">
								<use xlink:href="symbol/sprite.svg#cta-bg"></use>
							</svg>
						</div>
					</div>
				</div>

				<div class="tips-tricks">
					<div class="tips-tricks__container container">
						<header class="tips-tricks__header">
							<h2 class="tips-tricks__block-title block-title">TipPS & TRICKS</h2>
						</header>

						<div class="tips-tricks__body">
							<div class="tips-tricks__item">
								<h3 class="tips-tricks__item-title">Wie bekomme ich mehr Follower?</h3>
								<p class="tips-tricks__item-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
								</p>
							</div>
							<div class="tips-tricks__item">
								<h3 class="tips-tricks__item-title">Wie bekomme ich mehr Follower?</h3>
								<p class="tips-tricks__item-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
								</p>
							</div>
							<div class="tips-tricks__item">
								<h3 class="tips-tricks__item-title">Wie bekomme ich mehr Follower?</h3>
								<p class="tips-tricks__item-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


		</main>

@@include('layouts/footer.html')

@@include('layouts/popup-home.html')