@@include('layouts/header.html')

		<div class="site__page page profile-page">
			<header class="profile-page__header pp-header">
				<div class="pp-header__container container">
					<div class="pp-header__user-head-gallery user-head-gallery">
						<div class="user-head-gallery__item">
							<img src="images/demo/user-square-image-1.jpg" alt="">
						</div>
						<div class="user-head-gallery__item">
							<img src="images/demo/user-square-image-2.jpg" alt="">
						</div>
						<div class="user-head-gallery__item">
							<img src="images/demo/user-square-image-3.jpg" alt="">
						</div>
					</div>
					<div class="pp-header__deco-heading deco-heading">
						<h1 class="deco-heading__title">Mayrlee On Tour</h1>
						<div class="deco-heading__subtitle">Eventuell weitere Details</div>
						<img class="deco-heading__bg" src="images/page-header-deco.svg" alt="" width="615">
					</div>
					<img class="pp-header__clouds-deco" src="images/layer-clouds-secondary.png" alt="" >
				</div>
			</header>
			
			<main class="profile-page__main pp-main">
				<div class="pp-main__container container">
					<div class="pp-main__row">
						<div class="pp-main__content _main">
							<div class="user-posts">
								<div class="user-posts__list">
									<div class="user-posts__item">
										<article class="post-card _textonly">
											<div class="post-card__inner">
												<div class="post-card__date">
													05/08
													<span class="_year">2020</span>
												</div>
												<div class="post-card__content">
													<h2 class="post-card__title">Das kann eine Headline sein zum Blogbeitrag</h2>
													<p class="post-card__excerpt">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
													</p>
												</div>
											</div>
										</article>
									</div>
									<div class="user-posts__item">
										<article class="post-card _photo">
											<header class="post-card__header">
												<h2 class="post-card__title">Membername</h2>
												<div class="post-card__date">21/04/2021</div>
											</header>
											<figure class="post-card__media">
												<span class="post-card__badge">NEW</span>
												<img src="images/demo/user-image-1.jpg" alt="">
												<figcaption class="post-card__media-text">Das kann eine Headline sein zum Bild sein</figcaption>
											</figure>
										</article>
									</div>
									<div class="user-posts__item">
										<article class="post-card _audio">
											<div class="post-card__inner">
												<div class="post-card__type">
													<span class="icon-play"></span>
												</div>
												<div class="post-card__content">
													<h2 class="post-card__title">Membername</h2>
													<div class="post-card__date">14/12/2020</div>
												</div>
												<div class="post-card__track">
													
												</div>
											</div>
										</article>
									</div>
									<div class="user-posts__item">
										<article class="post-card _price">
											<div class="post-card__inner">
												<div class="post-card__media">
													<img src="images/demo/user-image-square-small-1.jpg" alt="" class="post-card__image">
												</div>
												<div class="post-card__content">
													<h2 class="post-card__title">Neues Höschen</h2>
													<p class="post-card__excerpt">
														Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sequi minus nulla laborum, illum earum eveniet quaerat quisquam libero laboriosam ratione est ut facere, voluptas dolorem totam voluptatibus voluptates dolore.
													</p>
													<a class="post-card__link button-deco" href="#">
														NUR 15,- €
														<svg class="layer-bg">
															<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
														</svg>
													</a>

													<div class="post-card__desrc">Jetzt kaufen in unserem Shop</div>
												</div>
											</div>
										</article>
									</div>
									<div class="user-posts__item">
										<article class="post-card _textonly">
											<div class="post-card__inner">
												<div class="post-card__date">
													05/08
													<span class="_year">2020</span>
												</div>
												<div class="post-card__content">
													<h2 class="post-card__title">Das kann eine Headline sein zum Blogbeitrag</h2>
													<p class="post-card__excerpt">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
													</p>
												</div>
											</div>
										</article>
									</div>
									<div class="user-posts__item">
										<article class="post-card _photo">
											<header class="post-card__header">
												<h2 class="post-card__title">Membername</h2>
												<div class="post-card__date">21/04/2021</div>
											</header>
											<figure class="post-card__media">
												<span class="post-card__badge">NEW</span>
												<img src="images/demo/user-image-1.jpg" alt="">
												<figcaption class="post-card__media-text">Das kann eine Headline sein zum Bild sein</figcaption>
											</figure>
										</article>
									</div>
								</div>
							</div>
						</div>
						<div class="pp-main__content _secondary">
							<div class="user-info">
								<h2 class="user-info__block-title">Profil</h2>

								<div class="user-info__content">
									<div class="user-info__row">
										<div class="user-info__head">Vorname</div>
										<div class="user-info__descr">Mary</div>
									</div>
									<div class="user-info__row">
										<div class="user-info__head">Geschlecht</div>
										<div class="user-info__descr">weiblich</div>
									</div>
									<div class="user-info__row">
										<div class="user-info__head">Alter</div>
										<div class="user-info__descr">24</div>
									</div>
									<div class="user-info__row">
										<div class="user-info__head">Beziehungsstatus</div>
										<div class="user-info__descr">ledig</div>
									</div>
									<div class="user-info__row">
										<div class="user-info__head">Sexuelle Orientierung</div>
										<div class="user-info__descr">Heterosexuell</div>
									</div>
									<div class="user-info__row">
										<div class="user-info__head">PLZ/Land</div>
										<div class="user-info__descr">34*** / Deutschland</div>
									</div>
									<div class="user-info__row">
										<div class="user-info__head">Sprachen</div>
										<div class="user-info__descr">Deutsch, English, Spanisch</div>
									</div>
								</div>
							</div>
							<div class="user-about">
								<div class="user-about__text typography">
									<p><strong>Hey. Meine süßen.</strong><br>
										Mein Künstlername ist Mary Jane ich bin ein kleiner Hippie  und knackige 24 Jahre alt. zurzeit lebe ich ganz Frei über die warmen Monate in meinem kleinen Wohnmobil und bereise ganz Deutschland und ich genieße gerade meine Freiheit und die Abenteuer die mit dieser Reise verbunden mit MDH daher gehen ;*</p>
									<p><strong>Bin noch ganz neu hier,</strong><br>
										Und ich bin gespannt was mich hier alles erwartet, vielleicht lerne ich hier sogar jemanden ganz besonderen kennen, mit dem ich mich, meine Träume und Phantasien ausleben kann *_* </p>
									<p>Ich komme aus einer sehr unglücklichen & langweiligen langjährigen Beziehung in der ich viel zu lange steckte, Jetzt habe ich so ein starkes Bedürfnis meine verlohrenen Jahre nachzuholen. Was mit MDH nun hoffentlich möglich sein wird  ;* </p>
									<p>Also wenn ihr mich kennenlernen wollte habt keine Scheu und schreibt mir einfach :* Ps: Videos auf meiner Seite folgen noch , aber es fehlt leider noch der richtige Dreh Partner :/</p>
								</div>
							</div>
							<div class="user-product">
								<h2 class="user-product__block-title">Meine produkte</h2>
								<div class="user-product__list-item">
									<div class="user-product__item">
										<article class="product-card">
											<figure class="product-card__media">
												<img src="images/demo/product-image-1.jpg" alt="">
											</figure>
											<div class="product-card__body">
												<a href="#" class="product-card__title">Slip getragen</a>
												<div class="product-card__price">15,00 €</div>
											</div>
										</article>
									</div>
									<div class="user-product__item">
										<article class="product-card">
											<figure class="product-card__media">
												<img src="images/demo/product-image-2.jpg" alt="">
											</figure>
											<div class="product-card__body">
												<a href="#" class="product-card__title">Black String - getragen</a>
												<div class="product-card__price">24,00 €</div>
											</div>
										</article>
									</div>
									<div class="user-product__item">
										<article class="product-card">
											<figure class="product-card__media">
												<img src="images/demo/product-image-1.jpg" alt="">
											</figure>
											<div class="product-card__body">
												<a href="#" class="product-card__title">Slip getragen</a>
												<div class="product-card__price">15,00 €</div>
											</div>
										</article>
									</div>
									<div class="user-product__item">
										<article class="product-card">
											<figure class="product-card__media">
												<img src="images/demo/product-image-2.jpg" alt="">
											</figure>
											<div class="product-card__body">
												<a href="#" class="product-card__title">Black String - getragen</a>
												<div class="product-card__price">24,00 €</div>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="featured-users">
								<h2 class="featured-users__block-title">ähnliche Mädchen</h2>
								<div class="featured-users__list">
									<div class="featured-users__item">
										<div class="featured-user">
											<div class="featured-user__media">
												<img class="featured-user__image" src="images/demo/vendor-image-1.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="featured-users__item">
										<div class="featured-user">
											<div class="featured-user__media">
												<img class="featured-user__image" src="images/demo/vendor-image-2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="featured-users__item">
										<div class="featured-user">
											<div class="featured-user__media">
												<img class="featured-user__image" src="images/demo/vendor-image-3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="featured-users__item">
										<div class="featured-user">
											<div class="featured-user__media">
												<img class="featured-user__image" src="images/demo/user-image-square-small-1.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="featured-users__item">
										<div class="featured-user">
											<div class="featured-user__media">
												<img class="featured-user__image" src="images/demo/user-square-image-1.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="featured-users__item">
										<div class="featured-user">
											<div class="featured-user__media">
												<img class="featured-user__image" src="images/demo/user-square-image-3.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

@@include('layouts/footer.html')