@@include('layouts/header.html')

		<main class="site__page page portal-page">
			<header class="page__header page-header">
				<div class="page-header__container container">
					<div class="page-header__content deco-head">
						<h1 class="deco-head__title">Über das Portal / News</h1>
						<div class="deco-head__subtitle">Updates und technische Erneuerungen</div>

						<div class="deco-head__deco">
							<img src="images/page-header-deco.svg" alt="" width="615">
						</div>
					</div>
				</div>
				<div class="page-header__image-conteiner">
					<img src="images/demo/uber-das-portal-header-image.jpg" alt="" class="page-header__image">
				</div>

				<div class="page-header__deco-container">
					<img src="images/layer-clouds-secondary.png" alt="" class="page-header__deco-image">
				</div>
			</header>

			<div class="portal-page__content">
				<div class="post-list">
					<div class="post-list__container container">
						<header class="post-list__header">
							<h2 class="post-list__block-title block-title">Update-übersicht</h2>
						</header>
						<div class="post-list__row row">
							<div class="post-item _full">
								<div class="post-item__text-card text-card">
									<header class="text-card__header">
										<h3 class="text-card__title">Kurztitel Latest Update </h3>
										<div class="text-card__date">04/12/2020</div>
									</header>
									<div class="text-card__body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
									</div>
								</div>
								<div class="post-item__media">
									<img src="images/demo/post-image-demo.jpg" alt="">
								</div>
							</div>
							<div class="post-item _full _reversed">
								<div class="post-item__text-card text-card">
									<header class="text-card__header">
										<h3 class="text-card__title">Kurztitel Latest Update </h3>
										<div class="text-card__date">04/12/2020</div>
									</header>
									<div class="text-card__body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
									</div>
								</div>
								<div class="post-item__media">
									<img src="images/demo/post-image-demo.jpg" alt="">
								</div>
							</div>
							<div class="post-item _half">
								<div class="post-item__text-card text-card">
									<header class="text-card__header">
										<h3 class="text-card__title">Kurztitel Latest Update </h3>
										<div class="text-card__date">04/12/2020</div>
									</header>
									<div class="text-card__body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
									</div>
								</div>
							</div>
							<div class="post-item _half">
								<div class="post-item__text-card text-card">
									<header class="text-card__header">
										<h3 class="text-card__title">Kurztitel Latest Update </h3>
										<div class="text-card__date">04/12/2020</div>
									</header>
									<div class="text-card__body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cta-section">
					<div class="cta-section__container container">
						<div class="cta _inner">
							<div class="cta__body">
								<div class="cta__content">
									<header class="cta__header">
										<h2 class="cta__title block-title">Dein Kontakt zu uns</h2>
										<div class="cta__message">
											Bei weiteren Anmerkungen und Ideen<br> 
											zur Webseite kontaktieren Sie uns...
										</div>
									</header>

									<a href="mailto:info@alienmaedchen.com" class="cta__button">

										info@alienmaedchen.com

										<svg class="layer-bg">
											<use xlink:href="symbol/sprite.svg#button-deco-second"></use>
										</svg>
										
									</a>
	
								</div>

								<div class="cta__media">
									<img src="images/demo/cta-image-1.jpg" alt="">
								</div>
							</div>

							<svg class="cta-bg">
								<use xlink:href="symbol/sprite.svg#cta-bg"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</main>

@@include('layouts/footer.html')

@@include('layouts/popup-home.html')