@@include('layouts/header.html')

		<main class="site__page page">
			<header class="page__header page-header">
				<div class="page-header__container container">
					<div class="page-header__content deco-head">
						<h1 class="deco-head__title">Über das Portal / News</h1>
						<div class="deco-head__subtitle">Updates und technische Erneuerungen</div>

						<div class="deco-head__deco">
							<img src="images/page-header-deco.svg" alt="" width="615">
						</div>
					</div>
				</div>
				<div class="page-header__image-conteiner">
					<img src="images/demo/uber-das-portal-header-image.jpg" alt="" class="page-header__image">
				</div>

				<div class="page-header__deco-container">
					<img src="images/layer-clouds-secondary.png" alt="" class="page-header__deco-image">
				</div>
			</header>

		</main>

@@include('layouts/footer.html')

@@include('layouts/popup-home.html')