/*============================================================================
	#Footer
==============================================================================*/
.footer {
	padding: 50px 0 25px;
	background: $colorPink;
	font-family: $fontSecondary;
	letter-spacing: 0.02em;

	&__link {
		color: $colorDark;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.footer-top {
	margin-bottom: 76px;
	
	&__left {
		@include col();
		@include size(4);
		@include size-xl(3);
		@include size-sm(12);

		display: flex;
		align-items: flex-end;
		padding-left: 120px;

		@include _1490 {
			padding-left: 0px;
		}
	}

	&__right {
		@include col();
		@include size(7);
		@include size-xl(9);
		@include size-sm(12);

		display: flex;
		align-items: flex-end;
	}
}



.footer-main {

	margin-bottom: 33px;
	
	&__left {
		@include col();
		@include size(4);
		@include size-xl(3);
		@include size-sm(12);
		padding-left: 120px;

		@include _1490 {
			padding-left: 0px;
		}
	}

	&__right {
		@include col();
		@include size(7);
		@include size-xl(9);
		@include size-sm(12);
	}
}

.footer-contact {
	display: flex;

	&__item {

		&:not(:last-child) {
			margin-right: 45px;
		}
	}

	&__link {

		&:not(:last-child){
			margin-right: 10px;
			padding-right: 10px;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				height: 15px;
				width: 1px;
				background: $colorDark;
			}
		}
	}
}

.footer-menu {

	&__list {
		
	}

	&__item,
	&__link {
		color: $colorDark;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.footer-information {
	
	p {
		margin: 0 0 0 0;
	}
}

.footer-copyright {
	&__text {
		padding-left: 120px;
		font-size: 13px;

		@include _1490 {
			padding-left: 0;
		}
	}
}


@include _1240 {
	
	.footer-contact {
		flex-wrap: wrap;

		&__item {
			margin-top: 20px;
		}
	}
}

@include _768 {
	
	.footer {

		&__logo {
			margin: 0 auto;
			margin-bottom: 20px;
		}

		&__information {
			text-align: center;
		}
	}

	.footer-top {
		margin-bottom: 40px;
	}

	.footer-contact {

		justify-content: center;

		&__item {
			flex: 1 1 100%;
			max-width: inherit;
			text-align: center;

			&:not(:last-child){
				margin-right: 0;
			}
		}
	}

	.footer-menu {
		margin-bottom: 32px;
	
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__item {
			margin-right: 20px;
		}
	}
	
	.footer-copyright {

		&__text {
			text-align: center;
		}
	}
}