/*============================================================================
	#Header
==============================================================================*/
.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;

	&__row {
		display: flex;
    	flex-wrap: wrap;
	}

	&__menu {
		margin-left: auto;
		margin-right: 150px;
		padding: 20px 0;
	}
}

.header-logo {

	&__link {
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.8;	
		}
	}

}

.menu {
	
	
	&__list {
		display: flex;
		position: relative;
		z-index: 1;

	}

	&__item,
	&__link {
		display: flex;
		align-items: center;
		color: black;
		font-family: $fontHeadings;
		font-size: 18px;
		font-weight: $bold;
		letter-spacing: 0.02em;
		text-decoration: none;
	}

	&__item {
		margin: 0 10px;
		padding: 4px 10px;

		&._search {
			margin: 0 -10px;

			.menu__link::before { display: none; }

		}

		&._login {
			.icon {
				margin-right: 8px;
			}
		}

		&._account {

		}
	}

	&__link {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
			width: 70px;
			height: 8px;
			background: url('../images/vendor-name-hover-deco.svg') no-repeat;
			background-size: cover;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: opacity 0.3s, visibility 0.3s;
		}

		&:hover {
			&::before {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__deco {
		position: absolute;
		top: calc(50% - 20px);
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

}

.accoutn-link {
	position: relative;
	text-shadow: white 1px 1px 0, white -1px -1px 0, 
                 white -1px 1px 0, white 1px -1px 0;

	&__bg {
		position: absolute;
		fill: $colorPink;
		top: 50%;
		left: calc(50% - 10px);
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}

.menu-deco {

	&__bg {
		width: 1086px;
		height: 180px;
		fill: $colorArctic;
	}
}

.burger-button {
	height: 80px;
  	width: 80px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
	display: none;

	svg {
		height: 80px;
		position: absolute;
		width: 80px;
	} 

	.line {
		fill: none;
		stroke: $colorDark;
		stroke-width: 6px;
		stroke-linecap: round;
		stroke-linejoin: round;
		transform-origin: 50%;
		transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
	}

	
	.line1 {
		stroke-dasharray: 21 185.62753295898438;
		transition-delay: 0;
	}
	.line2 {
		stroke-dasharray: 21 178.6514129638672;
		transition-delay: 30ms;
	}
	.line3 {
		stroke-dasharray: 21 197.92425537109375;
		transition-delay: 60ms;
	}
	.line4 {
		stroke-dasharray: 21 190.6597137451172;
		transition-delay: 90ms;
	}
	.line5 {
		stroke-dasharray: 21 208.52874755859375;
		transition-delay: 120ms;
	}
	.line6 {
		stroke-dasharray: 21 186.59703063964844;
		transition-delay: 150ms;
	}

	&._active .line1 {
		stroke-dasharray: 5 185.62753295898438;
		stroke-dashoffset: -141px;
	}
	&._active .line2 {
		stroke-dasharray: 5 178.6514129638672;
		stroke-dashoffset: -137px;
	}
	&._active .line3 {
		stroke-dasharray: 5 197.92425537109375;
		stroke-dashoffset: -176px;
	}
	&._active .line4 {
		stroke-dasharray: 5 190.6597137451172;
		stroke-dashoffset: -159px;
	}
	&._active .line5 {
		stroke-dasharray: 5 208.52874755859375;
		stroke-dashoffset: -139px;
	}
	&._active .line6 {
		stroke-dasharray: 5 186.59703063964844;
		stroke-dashoffset: -176px;
	}
	&._active .burger-x {
		transform: scale(1);
		transition: transform 400ms 250ms;
	} 
}

.burger-icon {
	height: 80px;
	position: absolute;
	width: 80px;

	filter: url(#gooeyness);
}

.burger-x {
	transform: scale(0);
	transition: transform 400ms;

	.line {
		stroke-width: 5.5px;
	}
}


@include _1490 {
	
	.header {

		&__menu {
			margin-right: 0;
		}
	}
}

@include _1240 {
	
	.menu {

		&__item {
			margin: 0 5px;
		}
	}
	
}

@include _1000 {

	.header {
		background: $colorArctic;
		z-index: 2;

		&__row {
			justify-content: space-between;
			align-items: center;
		}

		&__menu {
			position: absolute;
			top: 80px;
			background: white;
			left: 0;
    		width: 100%;
			display: none;
			// height: calc(100vh - 80px);
			padding-bottom: 60px;

		}

		.menu-deco {
			display: none;
		}

	}

	.menu {

		&__list {
			display: flex;
			flex-wrap: wrap;
		}

		&__item {
			flex: 0 0 100%;
			max-width: 100%;
			display: flex;
			justify-content: center;
			padding: 6px 10px;

			&._search {
				margin: 0;
			}
		}

		&__link {
			font-size: 24px;
		}
	}

	.header-logo {

		&__image {
			width: 46px;
		}
	}

	.burger-button {
		display: block;
		margin-right: -20px;
	}
}