		<footer class="site__footer footer">
			<div class="footer__top footer-top">
				<div class="container">
					<div class="row">
						<div class="footer-top__left">
							<a href="#" class="footer__logo footer-logo">
								<img src="images/alienmaedchen-footer-logo.svg" alt="" class="footer-logo__image" width="100">
							</a>
						</div>
						<div class="footer-top__right">
							<div class="footer__contact footer-contact">
								<div class="footer-contact__item">
									<div class="footer-contact__item-title">phone</div>
									<div class="footer-contact__item-content">
										<a class="footer__link" href="tel:+49030123456789">+49(0)30-123456789</a>
									</div>
								</div>
								<div class="footer-contact__item">
									<div class="footer-contact__item-title">mail</div>
									<div class="footer-contact__item-content">
										<a class="footer__link" href="mailto:mailcontact@alienmaedchen.com">mailcontact@alienmaedchen.com</a>
									</div>
								</div>
								<div class="footer-contact__item">
									<div class="footer-contact__item-title">social media</div>
									<div class="footer-contact__item-content">
										<a class="footer-contact__link footer__link" href="#">Facebook</a>
										<a class="footer-contact__link footer__link" href="#">Instagram</a>
										<a class="footer-contact__link footer__link" href="#">Twitter</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__main footer-main">
				<div class="container">
					<div class="row">
						<div class="footer-main__left">							
							<nav class="footer__menu footer-menu">
								<ul class="footer-menu__list list">
									<li class="footer-menu__item">
										<a href="#" class="footer-menu__link">Sitemap</a>
									</li>
									<li class="footer-menu__item">
										<a href="#" class="footer-menu__link">Über das Portal / News</a>
									</li>
									<li class="footer-menu__item">
										<a href="#" class="footer-menu__link">Neu hier?</a>
									</li>
									<li class="footer-menu__item">
										<a href="#" class="footer-menu__link">FAQ</a>
									</li>
									<li class="footer-menu__item">
										<a href="#" class="footer-menu__link"></a>
									</li>
									<li class="footer-menu__item">
										<a href="#" class="footer-menu__link">Die Mädchen</a>
									</li>
									<li class="footer-menu__item">
										<a href="#" class="footer-menu__link">Der Shop</a>
									</li>
								</ul>
							</nav>
						</div>

						<div class="footer-main__right">
							<div class="footer__information footer-information">
								<p>alienmaedchen.de © Copyright 2020 MG Social Ltd. | Trademarks MG Licensing Europe S.à.r.l.</p></br>
								<p>Diese Seite wird betrieben von MG Social Limited. Registrierte Adresse: Block 1, 195-197 Old Nicosia-Limassol Road, Dali Industrial zone, Cyprus 2540.</p></br>
								<p>Mydirtyhobby ist die weltweit größte Amateur-Community. Momentan sind 8.201 Mitglieder online. Du findest insgesamt 516.634 Videos und 5.040.486 Bilder.</p>
								<p>In den letzten 48 Stunden sind 385 neue Videos und 2.529 neue Bilder hinzugekommen</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__copyright footer-copyright">
				<div class="container">
					<div class="footer-copyright__text">
						© 2020 Alienmaedchen GmbH.
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
	</body>

</html>