<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<title>Alienmaedchen</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!--== Preload Fonts -->
	<link rel="preload" href="fonts/AmaticSC-Bold.woff2" as="font" type="font/woff" crossorigin="">
	<link rel="preload" href="fonts/Montserrat-Regular.woff2" as="font" type="font/woff" crossorigin="">

	<!--== favicon  -->
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#888888">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="theme-color" content="#000000">

	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/index.css">
</head>

<body class="body">
	<div class="site">

		<header class="site__header header">
			<div class="container">
				<div class="header__row row">
					<div class="header__logo header-logo">
						<a href="#" class="header-logo__link"><img src="images/alienmaedchen-logo.png" alt="" class="header-logo__image" width="64"></a>
					</div>
					<nav class="header__menu menu">
						<ul class="menu__list list">
							<li class="menu__item">
								<a href="#" class="menu__link">Home</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Neu hier?</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Über das Portal / News</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">FAQ</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Private Diary</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Der Shop</a>
							</li>
							<li class="menu__item _login">
								<a href="#" class="menu__link">
									<svg class="icon _lock">
										<use xlink:href="symbol/sprite.svg#lock"></use>
									</svg>
									Diary Login
								</a>
							</li>
							<li class="menu__item _search">
								<a href="#" class="menu__link">
									<svg class="icon _search">
										<use xlink:href="symbol/sprite.svg#search"></use>
									</svg>
								</a>
							</li>
							<li class="menu__item _account">
								<a href="#" class="menu__link accoutn-link">
									werde Alienmaedchcen
									<svg class="accoutn-link__bg">
										<use xlink:href="symbol/sprite.svg#layer-deco-secondary"></use>
									</svg>
								</a>
							</li>
						</ul>
						<div class="menu__deco menu-deco">
							<svg class="menu-deco__bg">
								<use xlink:href="symbol/sprite.svg#layer-deco-primary"></use>
							</svg>
						</div>
					</nav>
				</div>
			</div>
		</header>