<div class="site__popup">

	<div class="popup-login" id="popup-login">
		<div class="popup-login__container">

			<header class="popup-login__header">
				<div class="popup-login__logo">
					<img src="images/alienmaedchen-logo.png" alt="">
				</div>
				<div class="popup-login__header-msg">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum magna aliquyam erat, sed diam voluptua. 
				</div>
				<button class="popup-close js-popup-close"><span>х</span></button>
			</header>

			<div class="popup-login__body">
				<div class="popup-login__form">
					<div class="popup-login__form-title">Einloggen um Alienmaedchen zu werden</div>
					
					<form class="form popup-form" autocomplete="off">
						<div class="form__row">
							<input class="input" type="text" name="popup-form-user-name" id="popup-form-user-name" placeholder="Benutzername">
						</div>
						<div class="form__row">
							<input class="input" type="password" name="popup-form-password" id="popup-form-password" placeholder="Passwort">
						</div>
						<div class="form__row">
							<button class="form__button">Login</button>
							<a class="form__paswrd-rst-link" href="#">Passwort Vergessen?</a>
						</div>
					</form>

					<div class="popup-login__reg-container">
						<div class="popup-login__reg-title">Noch keinen Account?</div>
						<a class="popup-login__reg-link" href="#">kostenlos registrieren</a>
					</div>
				</div>
				<div class="popup-login__media">
					<img src="images/demo/popup-media-image.jpg" alt="" class="popup-login__image">
				</div>
			</div>
		</div>
	</div>
</div>